aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.2.25
click==8.3.1
frozenlist==1.8.0
hiredis==3.3.1
idna==3.11
multidict==6.7.1
openttd-helpers==2.0.0
openttd-protocol==1.7.1
pproxy==2.7.9
prometheus_client==0.24.1
propcache==0.4.1
redis==7.4.0
sentry-sdk==2.56.0
typing_extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
